.items .itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(80%, 16em), 1fr));
    border-radius: 10px;
    padding: 30px 16px;
    gap: 1em;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em 0;
}

.item .img-responsive {
    width: 100%;
    height: 20vw;
    object-fit: contain;
    padding: 1em, 0;
}

.item .link {
    padding: 0.5em;
    color: rgb(24, 24, 65);
    text-decoration: none;
}

.item .nombre {
    font-size: 1.2em;
}

.item .variedad {
    padding: 0.5em;
    font-size: 1.2em;
    color: rgb(24, 24, 65);
}

.items .itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(80%, 16em), 1fr));
    border-radius: 10px;
    padding: 30px 16px;
    gap: 1em;
    align-items: center;
}

.itemListContainer {
    text-align: center;
}

.itemListContainer .title {
    padding: 0.875em;
}

.itemListContainer .containerList {
    display: block;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

/* -------- menu desplegable ------------ */
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.item .about {
    text-align: left;
    font-size: 1.2em;
}

.itemListContainer {
    text-align: center;
}

.itemListContainer .title {
    padding: 0.875em;
}

.itemListContainer .containerList {
    display: grid;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    border-radius: 10px;
    background-color: rgba(56, 112, 136, 0.199) !important;
    backdrop-filter: saturate(180%) blur(5px);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.navBar {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-links {
    text-shadow: 2px 2px 2px darkslategray;
    color: antiquewhite;
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: .25rem !important;
}

#nav-logo {
    height: 80px;
    padding: 5px 20px;
    line-height: 4em;
}

.logo {
    height: 80px;
    padding: 5px 20px;
    line-height: 4em;
}

.nav-toggle {
    color: #2c3e50;
    border: none;
    background: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 4.5em;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-links {
    text-decoration: none !important;
    padding: 1rem 1rem;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-menu-links:hover,
.nav-menu-links_active {
    border-radius: .25rem;
    background-color: #126973;
    transition: 0.3s;
    text-shadow: 1px 1px 1px darkslategray;
    color: antiquewhite;
}

.ruta-productos {
    margin-top: 6em;
}

@media (max-width: 900px) {
    .logo {
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 40px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        /* height: calc(100% - 60px); */
        left: 100%;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-links:hover,
    .nav-menu-links_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
        line-height: 40px;
    }

    .nav-menu_visible {
        left: 0;
        transition: left 0.3s;
    }
}

.footer {
    grid-area: footer;
    background-color: rgba(71, 102, 131, 0.638) !important;
    backdrop-filter: saturate(180%) blur(5px);
    color: #25262e;
    font-size: 0.875em;
    border-radius: 0.5rem;
}

.footer-row {
    padding: 1em 1em;
}

.footer-row-primary {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.footer-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 2em;
    /* min-height: 15em; */
}

.footer-h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.4em;
    padding: 10px;
    white-space: nowrap;
}

.footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.footer-li:not(:first-child) {
    margin-top: 0.9em;
}

.footer-ul-li-a {
    color: #25262e;
    text-decoration: none;
    letter-spacing: .075em;
}

.footer-ul-li-a:hover {
    color: #717171;
}

.footer-about-p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.footer-social-i {
    color: #bac6d9;
}

.footer-copyright {
    padding: 0.8em 1em;
    background-color: #25262e;
}

.footer-menu {
    float: left;
}

.footer-menu-a {
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
}

.footer-menu-a:hover {
    color: #27bcda;
}

.footer-copyright-p {
    font-size: 0.9em;
    text-align: right;
    color: beige;
}
.item .about {
    text-align: left;
    font-size: 1.2em;
  }
  
  .itemListContainer {
    text-align: center;
  }
  
  .itemListContainer .title {
    padding: 0.875em;
  }
  
  .itemListContainer .containerList {
    display: grid;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
  }
/* ----------------------------------------- */