{% extends 'base.html' %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}

{% block content %}
    <div class="table table-dark text-white rgba-stylish-strong py-5 px-5 z-depth-2">
        <div class="text-center">
            <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Restablecimiento de contraseña enviado</strong></h2>
            <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
            <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
        </div>
    </div>
{% endblock %}