{% extends 'base.html' %}
{% block title %}Escriba la nueva contraseña{% endblock %}

{% block content %}
    {% if validlink %}
        <form class="table table-dark" action="" method="post">
            {% csrf_token %}
            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-2">
                <div class="text-center">
                    <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Escriba la nueva contraseña</strong></h2>
                    <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                    {{form.new_password1.errors}}
                    <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
                    {{form.new_password2.errors}}
                    <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="text-center mb-3 col-md-12">
                        <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Confirmar</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="table table-dark text-white rgba-stylish-strong py-5 px-5 z-depth-2">
            <div class="text-center">
                <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Escriba la nueva contraseña</strong></h2>
                <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}