{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<form class="table table-dark" action="" method="post">
    {% csrf_token %}
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-2">
        <div class="text-center">
            <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Restablecer contraseña</strong></h2>
            <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
        </div>
        <div class="md-form mb-5">
            {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
        </div>
        <div class="row d-flex align-items-center">
            <div class="text-center mb-3 col-md-12">
                <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Confirmar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}