{% extends 'base.html' %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}

{% block content %}
    <div class="table table-dark text-white rgba-stylish-strong py-5 px-5 z-depth-2">
        <div class="text-center">
            <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Restablecimiento de contraseña completado</strong></h2>
            <p>Su contraseña ha sido reestablecida. Ahora puede <a href="{% url 'login' %}">iniciar sesión</a></p>
        </div>
    </div>
{% endblock %}