{% extends 'base.html' %}
{% block title %}Registro de usuario{% endblock %}

{% block content %}
<form class="table table-dark" action="" method="post">
    {% csrf_token %}
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-2">
        <div class="text-center">
            <h2 class="text-light mb-5 mt-4 font-weight-bold"><strong>Registro</strong></h2>
        </div>
        <div class="md-form mb-5">
            {{form.as_p}}
        </div>
        <div class="row d-flex align-items-center">
            <div class="text-center mb-3 col-md-12">
                <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Confirmar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}